In [1]:
import pandas as pd
import numpy as np

<H1>qualifying.csv</H1>

#

In [31]:
df = pd.read_csv('archive/qualifying.csv')

In [32]:
df.isnull().any()

qualifyId        False
raceId           False
driverId         False
constructorId    False
number           False
position         False
q1                True
q2                True
q3                True
dtype: bool

In [33]:
df.count()

qualifyId        8873
raceId           8873
driverId         8873
constructorId    8873
number           8873
position         8873
q1               8865
q2               8739
q3               8618
dtype: int64

In [34]:
df.columns

Index(['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'position', 'q1', 'q2', 'q3'],
      dtype='object')

In [35]:
df.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [36]:
df = df.astype({'qualifyId':'object', 'raceId':'int64', 'driverId':'object', 'constructorId':'object'})

# df[df['q1']=='\\N'].count()

In [16]:
df = df[df['q1']!='\\N']

In [17]:
df.count()

qualifyId        8741
raceId           8741
driverId         8741
constructorId    8741
number           8741
position         8741
q1               8733
q2               8607
q3               8486
dtype: int64

<H1>races.csv</H1>

In [18]:
df = pd.read_csv('archive/races.csv')

In [19]:
df.isnull().any()

raceId       False
year         False
round        False
circuitId    False
name         False
date         False
time         False
url          False
dtype: bool

In [20]:
df.columns

Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url'], dtype='object')

In [21]:
df.describe()

            raceId         year        round    circuitId
count  1058.000000  1058.000000  1058.000000  1058.000000
mean    531.231569  1990.780718     8.382798    22.191871
std     308.165709    19.730088     5.000281    17.294490
min       1.000000  1950.000000     1.000000     1.000000
25%     265.250000  1976.000000     4.000000     9.000000
50%     529.500000  1992.000000     8.000000    18.000000
75%     793.750000  2008.000000    12.000000    32.000000
max    1073.000000  2021.000000    23.000000    77.000000

<H1>results.csv</H1>

In [22]:
df = pd.read_csv('archive/results.csv')

In [23]:
df.isnull().any()

resultId           False
raceId             False
driverId           False
constructorId      False
number             False
grid               False
position           False
positionText       False
positionOrder      False
points             False
laps               False
time               False
milliseconds       False
fastestLap         False
rank               False
fastestLapTime     False
fastestLapSpeed    False
statusId           False
dtype: bool

In [24]:
df.count()

resultId           25140
raceId             25140
driverId           25140
constructorId      25140
number             25140
grid               25140
position           25140
positionText       25140
positionOrder      25140
points             25140
laps               25140
time               25140
milliseconds       25140
fastestLap         25140
rank               25140
fastestLapTime     25140
fastestLapSpeed    25140
statusId           25140
dtype: int64

In [27]:
df.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [28]:
df.astype({'resultId':'object', 'raceId':'object', 'driverId':'object', 'constructorId':'object', 'laps':'int64'
          ,'milliseconds':'int64', 'fastestLap':'int64', 'rank':'int64'})

ValueError: invalid literal for int() with base 10: '\\N'

In [26]:
df.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25135,25141,1060,849,3,6,18,16,16,16,0.0,70,\N,\N,62,11,1:08.520,226.865,11
25136,25142,1060,20,117,5,11,17,17,17,0.0,69,\N,\N,51,8,1:08.420,227.196,4
25137,25143,1060,854,210,47,19,18,18,18,0.0,69,\N,\N,56,18,1:09.394,224.007,12
25138,25144,1060,853,210,9,20,19,19,19,0.0,69,\N,\N,49,19,1:09.757,222.842,12
25139,25145,1060,839,214,31,17,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,4

In [ ]:
df_status = pd.read_csv('archive/status.csv')

<H1>status.csv</H1>

In [16]:
df = pd.read_csv('archive/status.csv')

In [17]:
df.columns

Index(['statusId', 'status'], dtype='object')

In [18]:
df.dtypes

statusId     int64
status      object
dtype: object

In [19]:
df = df.astype({'statusId':'object'})

In [20]:
df.count()

statusId    137
status      137
dtype: int64

In [22]:
df.isnull().any()

statusId    False
status      False
dtype: bool